body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

#topbar {
    height: 30px;
    line-height: 30px;
    background-color: white;
    padding: 10px 25px 10px 18px;

}

#topbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

#topbar ul li {
    display: inline-block;
    margin-left: 70px;
    cursor: pointer;
    -webkit-transition: color 0.8s;
    -moz-transition: color 0.8s;
    transition: color 0.8s;
}

#topbar ul li:last-child {
    background-color: #629DD1;
    color: white;
    padding: 0 15px;
    border-radius: 5px;
}

#topbar ul li:last-child:hover {
    opacity: 0.9;
    color: white;
}

#topbar ul li:hover {
    color: deeppink;
}

#title {
    float: left;
}

header {
    background: url("background.jpg");
    height: 480px;
    background-size: 100%;
    padding-top: 10px;
}

header h1 {
    margin-top: 150px;
    text-transform: uppercase;
    font-size: 50px;
}

header h1,
header h2 {
    text-align: center;
    color: white;
    word-spacing: 9px;
    letter-spacing: 5px;
    font-weight: 200;
}

#content {
    height: 400px;
    font-size: 90px;
    margin-top: 100px;
    text-align: center;
}

footer {
    background-color: #cac6bb;
    height: 300px;
    padding-top: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;

}

footer ul a {
    color: rebeccapurple;
}

#footer1 {
    margin-left: 80px;
    width: 30%;
    float: left;
}

#footer2 {
    width: 30%;
    float: left;
}

#footer3 {
    width: 30%;
    float: left;
}

#footerDescription {
    text-transform: none;
    letter-spacing: 2px;
}

#footer4 {
    clear: both;
    padding-top: 100px;
    text-align: center;
}

#footer4 ul li {
    display: inline;
    margin-right: 20px;

}
